@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color:  #602040;
    font-family: 'Patua One', cursive;
    font-size: 1.2rem;
    color: aliceblue;
    min-height: 100vh;
}

.logi {
	border-radius: 50%;
}

.all-height {
    display: flex;
    flex-direction: column;
}

.me-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.me-logi-name {
    margin-left: 10px;
}

.topp-nav ul,
.botom-nav ul {
    display: flex;
    margin-right: 100px;
    padding: 100px;
    list-style: none;
}

.topp-nav a,
.botom-nav a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.topp-nav a:hover,
.botom-nav a:hover {
    color: grey;

}


.main-topp, .main-botom {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
}

.main-topp {
    height: 100px;
	width:1237px;
}

.main-botom {
    height: 70px;
    width: 1250px;
    background-color: #202027;
    font-weight: bold;
}


.main-botom .container {
   
    justify-content: space-between;
}

.container {
    max-width: 1000px;
    margin: 0 10px;
    padding: 2px;
    flex-grow: 5;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;

}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.buton {
    color: white;
    background-color: #862d59;
    padding: .70rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.buton:hover {
    background-color: #73264d;
}

.buton:focus {
    background-color: #862d59;
}
